<h1>検索結果</h1>
<% if @results.length != 0 %>
  <% @resource.each do |result| %>
    <%= result.title %>
    <%= result.travel_comment %>
    <%= result.user.nickname %>
  <% end %>
<% else %>
  検索結果はありません
<% end %>