
<h2>タグ一覧</h2>

<%# タグ名 %>
<h3><%= @tag.tag_name %></h3>

<%# タグに関連付く記事一覧 %>
<ul>
  <% @tag.reviews.each do |review| %>
    <li>
      <%= link_to review.title, review_path(review) %>
    </li>
  <% end %>
</ul>