<!--<h2>Actions</h2>-->
<%#= link_to 'review List', public_tags_path %>
<%#= link_to 'Delete', public_tag_path(@tag), method: :delete, data: {confirm: '関連づいた記事のタグが空になりますがタグを削除しますか？'} %>

<h2>タグ一覧</h2>

<%# タグ名 %>
<h3><%= @tag.tag_name %></h3>

<%# タグに関連付く記事一覧 %>
<ul>
  <% @tag.reviews.each do |review| %>
    <li>
      <%= link_to review.title, public_review_path(review) %>
    </li>
  <% end %>
</ul>